<div>
	<div class="players">
	Something
		<div ng-repeat="player in players" class="seat" id="{{player.seat}}">
			Seats:{{player.seat}}
			<div ng-repeat="playerCardImg in player.cardsImg">
				<img src="{{playerCardImg}}" alt="Description" class='cards'>
			</div>
		</div>
	</div>	

	<div class="table">
	Table:
		<div id="deck">
			<!-- overlap cards -->
			<img src="{{cardBack}}" alt="Description" class='card'>
		</div>

		<div id="publicDeck">
			<div id="publicCards" ng-repeat="publicCardImg in publicCardsImg">
				<img src="{{publicCardImg}}" alt="Description" class='card'>
			</div>	
		</div>
		<div id='playerDeck'>
			<div id='myCards' ng-repeat="myCard in mySelf.cards">
				<img src="../image/{{myCard}}" alt="Description" class='card'>
			</div>	
		</div>		
	</div>
</div>
