<div>
	<div class="gameStats">
		<div ng-show="mySelf.uid" ng-class="{highlight: mySelf.uid === gameState.turn, inactive: !mySelf.active}">
			My ID: {{mySelf.uid}} <br>
			Your turn?: {{gameState.turn}} <br>
			minstake: ${{gameState.minstake}} <br>
			<!-- Only show sit option when mySelf is not in game -->
			<div ng-hide="mySelf.inGame">
				<button type="button" class="btn-info" ng-click="sitBtn()">Sit</button> <br>
			</div>
		</div>
		<div ng-hide='mySelf.uid'>User Name:
			<input type="text" name="User Name" ng-model="mySelf.myName" 
			pattern="^[A-Za-z0-9 _]{1,15}$">
			<button type="button" class="btn-info" ng-click="inputUsername()"  id="inputUsername">Enter Game</button> <br>
		</div>
	</div>

	<div class="playersView">
		<div ng-repeat="user in users">
			<div ng-repeat="userCardImg in user.cardsImg">
				<div ng-class="{textBox: user, highlight: user.uid === gameState.turn, inactive: !user.active}">
					{{user.name}} <br>
					<!-- InGame: {{user.active}} <br> -->
					Stake: {{user.stake}} <br>
					$ {{user.money}} 
				</div>
				<img src="{{userCardImg}}" alt="Description"  class="cards">
			</div>
		</div>
	</div>

	<div class="table">
		<div id="deck">
			<!-- overlap cards -->
			<img src="{{deckCard}}" alt="Description" class='card'>
		</div>

		<div id="publicDeck">
			<div id="publicCards" ng-repeat="publicCardImg in publicCardsImg">
				<img src="{{publicCardImg}}" alt="Description" class='card'>
			</div>	
		</div>
		<div id='mySelfDeck'>
			<div id='myCards' ng-repeat="myCard in mySelf.cardsView">
				<img src="../image/{{myCard}}" alt="Description" class='card'>
			</div>	
		</div>		
	</div>

	<!-- user input -->
	<div class="controlPanel">
		<!-- Fix: button lenght -->
		<!-- <input type="text" name="User Name" ng-model="mySelf.stake" 
				pattern="^[0-9 _]{1,15}$"> -->
		<div ng-show="mySelf.active">
		<!--&& mySelf.uid === gameState.turn-->
			$ <input type="text" name="User Name" ng-model="myStake" pattern="^[0-9 _]{1,15}$">
			<button type="button" class="btn-info" ng-click="betBtn()">Bet</button> <br>
			<button type="button" class="btn-info" ng-click="checkBtn()">Check</button> <br>
			<button type="button" class="btn-info" ng-click="callBtn()">Call</button> <br>
			<button type="button" class="btn-info" ng-click="foldBtn()">Fold</button> <br>
			<button type="button" class="btn-info" ng-click="standBtn()">Stand</button> <br>
		</div>
	</div>
</div>
