<div>
	<div class="gameStats">
		User Name:
		<input type="text" name="User Name" ng-model="mySelf.myName" 
		pattern="^[A-Za-z0-9 _]{1,15}$"> <br>
		<p>{{}}</p>
		<button type="button" class="btn-info" ng-click="inputUsername()"  id="inputUsername">Enter Game</button> <br>
		Game Stats (Currently Simulation Only!):	<br>
		Received from WebSocket: {{gameState.cards}}; <br>
		Line2: {{gameState.turn}} <br>
		Line3: {{gameState.minstake}} <br>
		Line4: {{gameState.minstake}} <br>
	</div>

	<div class="playersView">
		<div ng-repeat="player in players">
			{{player.uid}}
			<div ng-repeat="playerCardImg in player.cardsImg">
					<img src="{{playerCardImg}}" alt="Description"  class="cards">
			</div>
		</div>
	</div>

	<div class="table">
		<div id="deck">
			<!-- overlap cards -->
			<img src="{{cardBack}}" alt="Description" class='card'>
		</div>

		<div id="publicDeck">
			<div id="publicCards" ng-repeat="publicCardImg in publicCardsImg">
				<img src="{{publicCardImg}}" alt="Description" class='card'>
			</div>	
		</div>
		<div id='mySelfDeck'>
			<div id='myCards' ng-repeat="myCard in mySelf.cardsView">
				<img src="../image/{{myCard}}" alt="Description" class='card'>
			</div>	
		</div>		
	</div>

	<!-- user input -->
	<div class="controlPanel">
		<!-- Fix: button lenght -->
		<button type="button" class="btn-info" ng-click="checkBtn()">Check</button> <br>
		<button type="button" class="btn-info" ng-click="foldBtn()">Fold</button> <br>
		<button type="button" class="btn-info" ng-click="callBtn()">Call</button> <br>
		<button type="button" class="btn-info" ng-click="betBtn()">Bet</button> <br>
		<button type="button" class="btn-info" ng-click="standBtn()">Stand</button> <br>
		<button type="button" class="btn-info" ng-click="sitBtn()">Sit</button> <br>
	</div>
</div>
