  /* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  /*color: BurlyWood;*/
  color: SandyBrown;
  /*background-image: url("./image/texture/table3.jpg");*/
  background-image: url("./image/texture/table3_cut.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.playersView {
  position: absolute;
  float: left;
  margin-left: 20px;
  margin-top: -350px;
  display: block;
  /*position: relative;*/
  /*transform: rotateX(50deg) rotateY(0deg) rotateZ(15deg); */
}

.cards {
  width: 75px;
  height: 110px;   
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  /*position: absolute;*/
  position: relative;
  margin: 3px 3px 3px 3px;
  background: white;
  z-index: 5;
  cursor: pointer;
  /*float:right;*/
  transform: rotateX(40deg) rotateY(-10deg) rotateZ(10deg);
}

.card {
  /*Resize */
  /* Card Dimension */
  width: 75px;
  height: 110px;   
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  margin: 3px 3px 3px 3px;
  background: white;
  z-index: 5;
  cursor: pointer;
  float:left;
  /*transform: rotateX(50deg) rotateY(20deg) rotateZ(15deg);*/
  transform: rotateX(50deg) rotateY(0deg) rotateZ(15deg);
}

.table {
  height: 350px;
  width: 800px;
  /* Center */
  margin-top: 350px;    
  margin-left: 400px;    
  margin-right: auto;
  /*border-style: solid;*/
  border-radius: 1px;
}

.table #publicDeck {
  height: 450px;
  width: 600px;
  /* Center */
  position: absolute;
  margin-top: -50px;    
  margin-left: 150px;    
  margin-right: auto;
  
}

.table #deck {
  width: 75px;
  height: auto;
  margin-top: -100px;
  /* Center */
  position: absolute;
/*  margin-top: 50px;    
  margin-left: 150px;    
  margin-right: auto;*/
  
}

.table #playerDeck {
  height: auto;
  width: 170px;
  /*border-style: solid;*/
  position: absolute;
  margin-top: 200px;    
  margin-left: 200px;    
  margin-right: auto;
  /*border-style: solid;*/
  /*float: center;*/
  float: left;
}

.controlPanel {
  color: black;
  width: 100px;
  float:right;
  margin-right: 20px;
  margin-top: -150px;
  /*margin-left: 990px;*/
  /*position: absolute;*/
}

.gameStats {
  text-align: right;
  float:right;
  margin-top: -350px;
  margin-right: 50px;
  /*position: relative;*/
}

.gameStats #inputUsername {
  color: black;
}