/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*.container #seat2 {
  display: block;
  height: auto;
  width: 170px;
  margin-top: 50px;    
  margin-left: 200px;    
  margin-right: auto;
  float: left;
  position: absolute;
}*/

body {
  background-image: url("./image/texture/table3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.table {
  height: 350px;
  width: 800px;
  /* Center */
  margin-top: 250px;    
  margin-left: auto;    
  margin-right: auto;
  /*border-style: solid;*/
  border-radius: 1px;
}

.players {
  margin-left: 200px;
}

.table #publicDeck {
  height: 450px;
  width: 600px;
  /* Center */
  margin-top: 50px;    
  margin-left: 150px;    
  margin-right: auto;
  position: absolute;
}

.table #playerDeck {
  height: auto;
  width: 170px;
  /*border-style: solid;*/
  margin-top: 200px;    
  margin-left: 200px;    
  margin-right: auto;
  /*border-style: solid;*/
  /*float: center;*/
  float: left;
  position: absolute;
}

.card {
  /*Resize */
  /* Card Dimension */
  width: 75px;
  height: 110px;   
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  /*position: absolute;*/
  position: relative;
  margin: 3px 3px 3px 3px;
  background: white;
  z-index: 5;
  cursor: pointer;
  float:left;
  /*transform: rotateX(50deg) rotateY(20deg) rotateZ(15deg);*/
  transform: rotateX(50deg) rotateY(0deg) rotateZ(15deg);
}

.cards {
  /*Resize */
  /* Card Dimension */
  width: 75px;
  height: auto;   
  display: block;
  border: 2px solid black;
  border-radius: 6px;
  /*position: absolute;*/
  position: relative;
  /*margin-left: 5px;*/
  margin: 3px 3px 3px 3px;
  background: white;
  z-index: 5;
  cursor: pointer;
  float:left;
}

.seat {
  width: 75px;
  height: 110px;   
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  /*position: absolute;*/
  position: relative;
  margin-left: 100px;
  margin-right: 200px;
  margin-top: auto;
  margin-top: auto;
  margin: 3px 3px 3px 3px;
  background: white;
  z-index: 5;
  cursor: pointer;
  float:left;
}

.spacer {
  width: 400px;
  margin-left: 100px;
}