/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.table {
  height: 400px;
  width: 900px;
  /* Center */
  margin-top: 150px;    
  margin-left: auto;    
  margin-right: auto;
  border-style: solid;
  border-radius: 1px;
}

.card {
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  /*position: absolute;*/
  position: relative;
  margin: 3px 3px 3px 3px;
  background: white;
  z-index: 5;
  cursor: pointer;
}